.banner{
  background: white;
  display: flex;
}

.banner img {
  size: 100px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.tab {
  text-decoration: none;
  font-family: "Montserrat";
  size: 30px;
  font-weight: bold;
  color: #996600;
}

.tab:hover {
  color: #332200;
}
